.header {
  flex-grow: 1;
  padding: $pad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: min-height 0.6s ease-in-out;

  &.closed {
    min-height: unset;

    .header__logo {
      width: 165px;

      @include tablet {
        width: 100px;
        margin-left: -180px;
        margin-right: 80px;
      }

      @include desktop {
        margin-left: 0;
        margin-right: 80px;
      }
    }
  }

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    margin-right: auto;
  }
}

.header__logo {
  width: 275px;
  min-width: 100px;
  transition: width 0.4s ease-in-out, margin-right 0.4s ease-in-out;
  margin: $pad-s;

  @include tablet {
    margin-left: unset;
  }
}
