.header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: min-height 0.6s ease-in-out;

  &.closed {
    min-height: 0;
  }

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    padding-right: 50vw;
  }
}
