.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader-img {
  margin: 30vh auto;
  width: 75px;

  @include tablet {
    width: 100px;
  }
}
