@import '../../fonts/stylesheet.css';

@mixin open-sans-light {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
}

html {
  @include open-sans-light;
  font-size: $text-size;
  color: $text-primary;
}
